body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.app {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#task-input {
  flex: 1;
  padding: 8px;
}

#add-btn {
  padding: 8px 12px;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filters button {
  flex: 1;
  margin: 0 2px;
  cursor: pointer;
}

#task-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

/* .completed {
  text-decoration: line-through;
  color: gray;
} */

.task.completed span {
  text-decoration: line-through !important;
  color: gray;
}

.active{
  background: black;
  color: white;
}

.empty-state {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  font-style: italic;
  padding: 30px 0;
}